
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <div id ="page-container" class="container">
        <h3>Chronicle editor</h3>
        <section id="app">
            <div id="app-body">
                <div class="panel tab-content">
                    <div id="edit-pane" class="tab-pane active">
                        <div class="alert alert-secondary form-group">
                            <div class="form-control selected-node-id">No item selected</div>
                            <input class="form-control nodelabel form-control" type="text" style="display:none;" id="nodelabel" name="nodelabel" value="" style="margin-top:10px;"/>
                            <button class="form-control btn btn btn-primary inactive" onclick="setLabelForSelectedNode()" id="nodelabelbtn" style="margin-top:10px;">Save</button>
                            <input class="form-control translower" type="text" style="display:none;" id="translower" name="translower" value="" style="margin-top:10px;"/>
                            <input class=" form-control transupper" type="text" style="display:none;" id="transupper" name="transupper" value="" style="margin-top:10px;"/>
                            <button class="form-control btn btn btn-primary inactive" onclick="setBoundForSelectedLink()" id="transbtn" style="margin-top:10px;">Save</button>
                        </div>
                        <div class="instructions tab-pane active">
                            <ul class="label">
                                <li>Click in the open space to <strong>add a state</strong></li>
                                <li>Drag between states to <strong>add a transition</strong></li>
                                <li>Ctrl-drag a state to <strong>move</strong> graph layout</li>
                                <li>Click a state or a transition to <strong>select</strong> it</li>
                                <li>
                                When a state is selected:
                                    <ul>
                                        <li>change label on left panel (require to validate)</li>
                                        <li><strong>Delete</strong> removes the state</li>
                                    </ul>
                                </li>
                                <li>
                                    When a transition is selected:
                                    <ul>
                                        <li>change temporal constraints on left panel (require to validate)</li>
                                        <li><strong>Delete</strong> removes the transition</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="graph"></div>
                <div class="current-formula inactive"></div>
            </div>
        </section>
        <div class="form-group" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-8">
                    <form action="search" method= "post" width="90%" id="searchform" class="form-group">
                        <textarea class="form-control" id="chronicle" name="search" type="search" rows="2" cols="55" required>{{chronicle}}</textarea>
                        <button type="submit" class="form-control btn btn-primary" style="margin-top:10px;" onclick=" var val = document.getElementById('search').value;}">Search</button>
                    </form>
                </div>
                <div class="col-md-2">
                    <div class="row">
                      <div class="col">
                          <input type="button" class="form-control btn btn-primary  " onclick="loadChronicle()" value="Load" style="width: 180px;"/>
                      </div> 
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="button" class="form-control btn btn-primary" onclick="clearChronicle()" value="Clear" style="margin-top:10px; width: 180px;"/>
                        </div>
                    </div>
                </div>  
            </div>
            <br>
        </div>
    </div>
</body>
</html>